/* src/Css/EventDetail.css */

.event-detail-page {
    padding: 50px 5%;
    background-color: #f9f9f9;
  }
  
  .event-detail-title {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .event-detail-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .event-detail-container-image {
    width: auto;
    height: auto;
    object-fit: contain;
  }
  
  .event-detail-content {
    padding: 30px;
  }
  
  .event-detail-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 15px;
  }
  
  .event-detail-content p strong {
    font-weight: bold;
    color: #000;
  }
  