.home-issue-preview-container {
  width: 95%;
  margin: 5% auto;
  text-align: center;
}

.home-issue-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 15px;
}

.home-issue-header h2 {
  font-size: 1.5rem;
  font-weight: normal;
  color: #333;
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-issue-line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin-left: 15px;
}

.home-issue-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 15px;
}

/*.home-issue-card {
  width: 160px;
  height: 240px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.home-issue-card:hover {
  transform: scale(1.05);
}
*/

.home-issue-card {
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-image 0.3s ease;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transform-origin: center bottom;
}

.home-issue-card:hover {
  transform: rotateY(-40deg);
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
}


/* Responsive */
@media (max-width: 768px) {
  .home-issue-card {
    width: 140px;
    height: 210px;
  }
}
